@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #222;
    background-image: url(http://source.unsplash.com/1600x900/?landscape);
    background-repeat: no-repeat;
}

.card {
    
    
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 720px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}


input.search-bar {
   
    border: none;
    outline: none;
    padding: .3em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}

.weather{
    text-align: center;
    margin-top: 2rem;
}
.date_time{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 2rem;
}

.description{

    
   
    padding: 0.5rem 1rem;
    
    font-size: 120%;
}

.weather img{
    width: 100px;
}

.weather_minmax{
    
    display: flex;
    justify-content: center;
}

.weather_minmax p{
    font-size: 14px;
    margin: 1rem;

}

.weather_info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem ;
    margin-top: 2rem;
    
}

.weather_tile{
    display: flex;
    align-items: center ;
    background-color: #000000df;
    padding: 1rem;
    border-radius: 20px;

}

.weather_tile svg{
    font-size: 1.5rem;
    margin-right:1rem ;

}

.weather_tile p{
    font-size: 14px;
}

@media(max-width:936px){
    .card{
        width: 80%;
    }
}

@media(max-width:400){
   .weather_info{
    grid-template-columns: none;
    
   }

}